[user]
    email = zummenix@gmail.com
    name = Aleksey Kuznetsov
[pull]
    rebase = false
[core]
    excludesFile = ~/.gitignore-global
    pager = delta --diff-so-fancy
[delta]
    navigate = true
[interactive]
    diffFilter = delta --color-only --diff-so-fancy
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[merge]
    conflictstyle = diff3
[mergetool]
    prompt = true
[difftool]
    prompt = false
[diff]
    colorMoved = default
